* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	background-color: #f6483b;
}

p {
	margin-bottom: 0.5em;
}

.fas,
.far {
	margin-right: 20px;
	color: #f6483b;
}

.accordion {
	width: 800px;
	background-color: #fff;
	border-radius: 8px;
}

.accordion-box {
	margin: 20px;
}

.accordion-btn {
	padding: 1em;
	width: 100%;
	font-size: 30px;
	text-align: left;
	border: none;
	border-radius: 8px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.accordion-btn:hover,
.accordion-btn:focus {
	background-color: #f6483b;
	color: #fff;
	outline: none;
}

.accordion-btn:hover .fas,
.accordion-btn:hover .far,
.accordion-btn:focus .fas,
.accordion-btn:focus .far {
	color: #fff;
}

.accordion-info {
	display: none;
	padding: 1em 2em;
}

.active {
	display: block;
}
